.input {
	border: 1px solid rgb(172, 167, 167); width: 120px; height: 28px; font-size: 9pt;
}
.user {
	height: 25px; font-size: 9pt; margin-top: 30px; margin-left: 40px;
}
.password {
	height: 25px; font-size: 9pt; margin-top: 18px; margin-left: 40px;
}
.btn {
	height: 25px; text-align: center; font-size: 9pt; margin-top: 40px; margin-right: 28px; margin-left: 40px;
}
.btn button {
	background: rgb(242, 242, 242); border: 1px solid rgb(182, 182, 182); width: 85px; color: rgb(0, 0, 0); line-height: 25px; letter-spacing: 3px; font-size: 9pt; text-decoration: none; margin-left: 25px; float: left; display: block; cursor: hand;
}
.btn a {
	border: 1px solid rgb(182, 182, 182); width: 65px; color: rgb(0, 0, 0); line-height: 25px; font-size: 9pt; text-decoration: none; margin-left: 15px; float: left; display: block;
}
.login {
	background-color: rgb(236, 240, 255);
}
.loginc {
	background-color: rgb(255, 255, 231);
}
