<html charset="UTF-8">

  <head>
    <meta >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <title></title>
    <meta name="description" content="Kanban Board">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/4198d9ac.main.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/themes/default-bright.css" id="themeStylesheet">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body charset="UTF-8" ng-app="mpk" ng-controller="ApplicationController" ui-keyup="{'ctrl-shift-72':'openHelpShortcut($event)'}">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"  charset="UTF-8"></script>
      <script src="bower_components/json3/lib/json3.min.js"  charset="UTF-8"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
  <div class="col-md-14   navbar-fixed-top" style="left:20px">
     <ul class="nav nav-tabs"  ng-init="switchTo='环境试验室'">
         <li ng-repeat="name in switchToList" ng-class="{active: switchTo === name}"><a  ng-click="switchToKanban(name)">{{name}}</a></li>
         <li class="col-md-3" style="position:absolute;top:10px;left:450px"><input type="file"  class="inputfile"  name="file" accept="application/msexcel"></li>
         <li class="col-md-6"><div id="historytask" style="position:absolute;top:10px;left:450px"><a href="http://127.0.0.1/vis/history_task.html">历史任务</a></div>
         </li>
     </ul>
  </div>

  <div class="container-fluid tab-content tab-bordered" id="kanban" ng-controller="KanbanController">
      <div ng-model="kanban">
          <div id="columns" class="row">
              <div class="col-md-{{12/kanban.numberOfColumns}}" ng-repeat="column in kanban.columns" data-columnindex="{{$index}}" id="column{{$index}}">
                  <div class="column">
                    <div class="columnHeader">
                        <a href="#addCard" title="Add card to column" ng-if='column.name === "本周计划" || column.name === "当日计划"' class="pull-right" ng-click="addNewCard(column)"><i class="glyphicon glyphicon-plus"></i></a>
                        <a href="#" title="清除本周计划" ng-if='column.name === "本周计划"' ng-click="alert('您确定要删除吗？');column.cards=''" ng-model="column" ng-hide="editing"><i class="glyphicon glyphicon-tasks"></i></a>
                        <span ng-hide="editing">{{column.name}} ({{column.cards.length}})</span><input style="position: relative;left:30px;width:70px;height:20px;font-size:10px" placeholder="全文搜索" type='text' ng-if='column.name === "本周计划"' ng-model="column.cards.filter.$"></input>
                        <form ng-show="editing" ng-submit="editing = true">
                            <div class="input-group">
                                <span class="input-group-addon"><a href="#cancel" ng-click="editing = false"><i class="glyphicon glyphicon-tasks"></i></a></span>
                                <input class="form-control" type="text" ng-model="column.name" value="{{column.name}}" required="" focus-me="editing">
                            </div>
                        </form>
                    </div>
                    <ul class="cards"  ui-sortable="{connectWith: '#kanban ul.cards'}" sortable="" ng-model="column.cards" style="{{minHeightOfColumn}}">
                        <li class="card" ng-if='column.name === "本周计划"' ng-repeat="card in column.cards|filter:column.cards.filter.$" style="background-color: #{{colorFor(card)}}"  ng-Mouseover="cardexpand_show(card,'block')"  ng-Mouseleave="cardexpand_show(card,'none')" >
                            <a href="#deleteCard" class="pull-right" ng-click="delete(card, column)"><i class="glyphicon glyphicon-remove  pull-right"></i></a>
                            <a href="#" class="pull-right" ng-click="openCardDetails(card)"><i class="glyphicon glyphicon-pencil "></i></a>
                            <a ng-click="openCardDetails(card)"><span  tooltip-popup-delay="2000" tooltip="{{details(card)}}">【项目】：{{card.pmName}}</span></a><div ng-init="card.cardexpandinfo='none'" style="display:{{card.cardexpandinfo}};">【任务书】:{{card.taskNO}}<br>【VIN号】:{{card.vinNO}}</div>
                        </li>
                        <li class="card" ng-if='column.name !== "本周计划"' ng-repeat="card in column.cards" style="background-color: #{{colorFor(card)}}">
                            <a href="#deleteCard" class="pull-right" ng-click="delete(card, column)"><i class="glyphicon glyphicon-remove  pull-right"></i></a>
                            <a href="#" class="pull-right" ng-click="openCardDetails(card)"><i class="glyphicon glyphicon-pencil "></i></a>
                            <a ng-click="openCardDetails(card)"><span  tooltip-popup-delay="2000" tooltip="{{details(card)}}"><span ng-class="{eqwarn: !card.equipment}">【项目】：{{card.pmName}}</span><br>【任务书】:{{card.taskNO}}<br>【VIN号】:{{card.vinNO}}</span></a>
                        </li>
                    </ul>
                </div>
              </div>
          </div>
      </div>

    <section id="kanbanOperations">
        <!-- this one is for the new card -->           
          <script type="text/ng-template" id="NewKanbanCard.html"  charset="UTF-8">
              <form ng-submit="addNewCard()" class="noMargin" name="newCardForm">
                  <div class="modal-header">
                    <button type="button" class="close" ng-click="close()">&times;</button>
                    <h4 class="modal-title" ng-model="kanbanColumnName">在'{{kanbanColumnName}}'中添加任务项</h4>
                  </div>
                  <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label" for="cardTitle">项目名称</label>
                            <div class="controls">
                              <div>
                                <input name="pmName" type="text" id="pmName" placeholder="项目名称" ng-model="pmName"  class="cardInputs"  focus-me />
                              </div>
                            </div>
                            <label class="control-label" for="cardTitle">任务书编号</label>
                            <div class="controls">
                              <div>
                                <input name="taskNO" type="text" id="taskNO" placeholder="任务书编号" ng-model="taskNO"  class="cardInputs"  focus-me />
                              </div>
                            </div>
                            <label class="control-label" for="cardTitle">样品编号</label>
                            <div class="controls">
                              <div>
                                <input name="sampleNO" type="text" id="sampleNO" placeholder="样品编号" ng-model="sampleNO"  class="cardInputs"  focus-me />
                              </div>
                            </div>

                            <label class="control-label" for="cardTitle">VIN号</label>
                            <div class="controls">
                              <div>
                                <input name="vinNO" type="text" id="vinNO" placeholder="VIN号" ng-model="vinNO"  class="cardInputs"   focus-me />
                              </div>
                            </div>
                            <label class="control-label" for="cardTitle">产品线</label>
                            <div class="controls">
                              <div>
                                <input name="productLine" type="text" id="productLine" placeholder="产品线" ng-model="productLine"  class="cardInputs"  focus-me />
                              </div>
                            </div>
                            <label class="control-label" for="cardTitle">试验项目</label>
                            <div class="controls">
                              <div>
                                <input name="details" type="text" id="details" placeholder="试验项目" ng-model="details"  class="cardInputs"  focus-me />
                              </div>
                            </div>
                            <label class="control-label" for="cardTitle">关联试验设备</label>
                            <div class="controls clearfix">
                            <select style="width:300px"   ng-if='cardkanbanname === "环境试验室"' id="selectequipment"  ng-model="equipment" multiple >
                                <option value="1">环境高低温舱</option>
                                <option value="2">环境高低温转鼓</option>
                                <option value="3">环境排放分析仪</option>
                                <option value="4">环境常温转鼓</option>
                            </select>
                            <select style="width:300px"   ng-if='cardkanbanname === "耐久试验室"' id="selectequipment"  ng-model="equipment" multiple >
                                <option value="1">耐久转鼓#1</option>
                                <option value="2">耐久转鼓#2</option>
                                <option value="3">耐久转鼓#3</option>
                            </select>
                           <select style="width:300px"   ng-if='cardkanbanname === "重鼓试验室"' id="selectequipment"  ng-model="equipment" multiple >
                                <option value="1">重型转鼓#1</option>
                            </select>
                           <select style="width:300px"   ng-if='cardkanbanname === "高温试验室"' id="selectequipment"  ng-model="equipment" multiple >
                                <option value="1">四驱高温舱</option>
                                <option value="2">四驱高温转鼓</option>
                            </select>
                          </div>
                            <label class="control-label" for="cardTitle">关联试验时间</label>
                            <div class="controls clearfix">
                            <lable >计划开始时间</lable><input type=text ng-model="planStartDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH'})" placeholder="计划开始时间"></input>
                            <lable >计划结束时间</lable><input type=text ng-model="planEndDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH'})" placeholder="计划结束时间"></input>
                            <br>
                            <lable >实际开始时间</lable><input type=text ng-model="realStartDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" placeholder="实际开始时间"></input>
                            <lable >实际结束时间</lable><input type=text ng-model="realEndDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" placeholder="实际结束时间"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div><label class="control-label">任务卡颜色</label></div>
                            <color-selector options="colorOptions" ng-model="cardColor" prefix="editCardColor" class="colorSelector" show-hex-code="false" />
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="close()">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addNewCard()">增加</button>
                  </div>
              </form>
        </script>

        <script type="text/ng-template" id="OpenCard.html"   charset="UTF-8">
              <form  ng-submit="update()" class="noMargin" name="cardDetails">
                  <div class="modal-header">
                    <button type="button" class="close" ng-click="close()">&times;</button>
                    <h4 class="modal-title">任务详情</h4>
                  </div>
                  <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="cardTitle">项目名称</label>
                            <div class="controls">
                                <input name="pmName" type="text" id="cardpmName" placeholder="项目名称" ng-model="pmName"   class="cardInputs"  focus-me />
                            </div>
                            <label class="control-label" for="cardTitle">任务书编号</label>
                            <div class="controls">
                                <input name="taskNO" type="text" id="cardtaskNO" placeholder="任务书编号" ng-model="taskNO"  class="cardInputs"  focus-me  />
                            </div>
                            <label class="control-label" for="cardTitle">样品编号</label>
                            <div class="controls">
                                <input name="sampleNO" type="text" id="cardsampleNO" placeholder="样品编号" ng-model="sampleNO"   class="cardInputs"  focus-me />
                            </div>
                            <label class="control-label" for="cardTitle">VIN号</label>
                            <div class="controls">
                                <input name="vinNO" type="text" id="cardvinNO" placeholder="VIN号" ng-model="vinNO"  class="cardInputs"  focus-me   />
                            </div>
                            <label class="control-label" for="cardTitle">产品线</label>
                            <div class="controls">
                                <input name="productLine" type="text" id="cardproductLine" placeholder="产品线" ng-model="productLine"  class="cardInputs"  focus-me  />
                            </div>
                            <label class="control-label" for="cardTitle">试验项目</label>
                            <div class="controls">
                                <input name="details" type="text" id="details" placeholder="试验项目" ng-model="details"  class="cardInputs"  focus-me  />
                            </div>
                            <label class="control-label" for="cardTitle">关联试验设备</label>
                            <div class="controls clearfix">
												    <select style="width:300px"   ng-if='cardkanbanname === "环境试验室"' id="selectequipment"  ng-model="equipment" multiple >
												        <option value="1">环境高低温舱</option>
												        <option value="2">环境高低温转鼓</option>
                                <option value="3">环境排放分析仪</option>
												        <option value="4">环境常温转鼓</option>
												    </select>
                            <select style="width:300px"   ng-if='cardkanbanname === "耐久试验室"' id="selectequipment"  ng-model="equipment" multiple >
                                <option value="1">耐久转鼓#1</option>
                                <option value="2">耐久转鼓#2</option>
                                <option value="3">耐久转鼓#3</option>
                            </select>
                           <select style="width:300px"   ng-if='cardkanbanname === "重鼓试验室"' id="selectequipment"  ng-model="equipment" multiple >
                                <option value="1">重型转鼓#1</option>
                            </select>
                           <select style="width:300px"   ng-if='cardkanbanname === "高温试验室"' id="selectequipment"  ng-model="equipment" multiple >
                                <option value="1">四驱高温舱</option>
                                <option value="2">四驱高温转鼓</option>
                            </select>
                          </div>
                            <label class="control-label" for="cardTitle">关联试验时间</label>
                            <div class="controls clearfix">
                            <lable >计划开始时间</lable><input type=text ng-model="planStartDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH'})" placeholder="计划开始时间"></input>
                            <lable >计划结束时间</lable><input type=text ng-model="planEndDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH'})" placeholder="计划结束时间"></input>
                            <br>
                            <lable >实际开始时间</lable><input type=text ng-model="realStartDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" placeholder="实际开始时间"></input>
                            <lable >实际结束时间</lable><input type=text ng-model="realEndDate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" placeholder="实际结束时间"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div><label class="control-label">任务卡颜色</label></div>
                            <color-selector options="colorOptions" ng-model="cardColor" prefix="editCardColor" class="colorSelector" show-hex-code="false" />
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="close()">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="update()">更新</button>
                  </div>
              </form>
        </script>
    </section>

</div>
<footer>
</footer>
        <script src="bower_components/jquery/jquery.min.js" charset="UTF-8"></script>
        <script src="bower_components/angular/angular.min.js" charset="UTF-8"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.min.js" charset="UTF-8"></script>
        <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js" charset="UTF-8"></script>
        <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js" charset="UTF-8"></script>
        <script src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js" charset="UTF-8"></script>
        <script src="bower_components/angular-ui-utils/ui-utils.min.js" charset="UTF-8"></script>
        <script src="bower_components/spinjs/spin.js"   charset="UTF-8"></script>
        <script src="bower_components/FileSaver/FileSaver.js"   charset="UTF-8"></script>
        <script src="scripts/5ebce75f.themes.js"   charset="UTF-8"></script>
        <script src="../My97DatePickerBeta/My97DatePicker/WdatePicker.js"   charset="UTF-8"></script>

        <script src="scripts/c7192975.scripts.js"  charset="UTF-8"></script>
</body>
</html>