<div class="container">
    <div class="row" > 
            <div ng-show="labno===1" class="deckgrid clearfix" deckgrid source="photohj" cardTemplate="templates/deckgrid-card.html"></div>
            <div ng-show="labno===2" class="deckgrid clearfix" deckgrid source="photonj" cardTemplate="templates/deckgrid-card.html"></div>
            <div ng-show="labno===3" class="deckgrid clearfix" deckgrid source="photoxn" cardTemplate="templates/deckgrid-card.html"></div>
            <div ng-show="labno===4" class="deckgrid clearfix" deckgrid source="photosq" cardTemplate="templates/deckgrid-card.html"></div>
    </div>
</div>